<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Entrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input name="email" type="email" placeholder="seu@email.com" ngModel required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input name="password" type="password" ngModel required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button 
          [routerLink]="['/feed']"
          color="secondary" 
          expand="block" 
          (click)="onLogin()">
          Entrar
        </ion-button>
        <ion-label position="floating">Não possui uma conta ainda?</ion-label>
        <br>
        <ion-router-link [routerLink]="['/registration']" class="underline" color="light">Crie uma conta</ion-router-link>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<style>
  .underline {
    text-decoration: underline;
  }

</style>