<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Criar Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input name="name" type="text" required [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input name="email" type="email" placeholder="seu@email.com" required [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input name="password" type="password" required [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button 
          class="underline" 
          color="secondary"
          expand="block"
          (click)="register()">
          Criar conta
        </ion-button>
        <ion-label position="floating">Já possui uma conta?</ion-label>
        <br>
        <ion-router-link [routerLink]="['/login']" class="underline" color="light">Entre na sua conta</ion-router-link>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<style>
  .underline {
    text-decoration: underline;
  }
</style>