<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Criar</ion-title>
    </ion-toolbar>
</ion-header>
  
<ion-content>
    <form>
        <ion-item lines="full">
            <ion-label for="title">Título</ion-label>
            <ion-input type="text" class="form-control" id="title"
                    required
                    [(ngModel)]="title" name="txtitle"
                    #txtitle="ngModel"></ion-input>
            <div [hidden]="txtitle.valid || txtitle.pristine"
                class="alert alert-danger">
                Título é obrigatório
            </div>
        </ion-item>

        <ion-item lines="full">
            <ion-label for="description">Descrição</ion-label>
            <ion-input type="text" class="form-control" id="texto"
                    [(ngModel)]="description" name="texto"></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label for="status">Situação</ion-label>
            <ion-select id="status"
                    required
                    [(ngModel)]="status" name="status"
                    #power="ngModel">
                <ion-select-option *ngFor="let item of situations" [value]="item.val">{{item.desc}}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-button type="submit"  color="secondary" (click)="save()">Adicionar</ion-button>
    </form>
</ion-content>
  