<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Criar nova ação</ion-title>
    </ion-toolbar>
</ion-header>
  
<ion-content>
    <form>
        <ion-item lines="full">
            <ion-label position="floating">Título</ion-label>
            <ion-input type="text" required></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label position="floating">Descrição</ion-label>
            <ion-input type="text" required></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label position="floating">Situação</ion-label>
            <ion-input type="text" required></ion-input>
        </ion-item>

        <ion-row>
            <ion-col>
                <ion-button [routerLink]="['/feed']" color="secondary" expand="block">Adicionar</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
  